# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Data files
*.h5
*.npy
*.npz

# Saved model artifacts
saved_models/

# training:
# tensorboard logs
runs/ 
# experiment results
experiments/

# Environment
env/
venv/
.venv/
.venv3/

# IDE
.vscode/
.idea/

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg


# Miscs
*.pdf
submit_job.sh
act_venv.sh
submit_job.sh
submit_job.sh
*.sh
